@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background-color: #B9CE8B;
    color: #4f5a65;
    font-family: 'Caveat', monospace;
    font-weight: 500;
    font-size: 24px;
}

.Container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    width: 80%;
    margin: 0 auto;
}

.Heading {
    color: #956743;
    font-weight: 900;
    text-align: center;
}

.List {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px;
}
.ListItem {
    background-color: #E7DEBD;
    margin: 10px;
    padding: 20px;
    width: 120px;
    list-style-type: none;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.AddForm {
    text-align: center;
}

.Label {
    color: #4f5a65;
    font-weight: 700;
    font-size: 36px;
}

.Button {
    background-color: #956743;
    width: 100px;
    padding: 8px;
    margin-top: 20px;
    color: #E7DEBD;
    font-family: 'Caveat', monospace;
    font-weight: 600;
    font-size: 20px;
    border: none;
    text-transform: uppercase;
}

.Input {
    background-color: #B9CE8B;
    width: 50%;
    margin: 10px;
    box-sizing: border-box;
    padding: 12px 20px;
    border: none;
    border-bottom: 2px solid #956743;
    box-shadow:  2px 2px 1px rgba(0, 0, 0, 0.2);
}

.Input:focus {
    border: 2px solid #956743;
}